body {
	background-image: url('Keyboardimg.jpeg');
    background-size: cover;
   animation-name: background;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

/*This allows the background to change*/
@keyframes background { 
    0% {background-color:#C39BD3;}
    50% {background-color:#F8C471;}
    75% {background-color:#F8C471;}
    100% { background-color:#C39BD3;}
 }
 
/*Navigation buttons*/
ul.topnav {
    list-style-type: none;
    margin:0;
    padding:0;
    /*overflow: hidden;*/
    background-color: #333;
}

/* Float the list items side by side */
ul.topnav li {float: left;}

/* Style the links inside the list items */
ul.topnav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    margin-left: 1px;
    margin-top: 1px;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 20px;
}
/* Change background color of links on hover */
ul.topnav li a:hover {
    background-color: blue;
}
/* Hide the list item that contains the link that should open and close the topnav on small screens */
ul.topnav li.icon {
    display: none;
}