html{
    scroll-behavior: smooth;
}

body {
	background-size: cover;
    background-color: rgb(32,32,32);
    animation-name: background;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}


/*This allows the background to change*/
@keyframes background:  { 
    0% {background-color:#C39BD3;}
    50% {background-color:#F8C471;}
    75% {background-color:#F8C471;}
    100% { background-color:#C39BD3;}
 }

#timeline{
    position: absolute;
    width: 1000px;
    height: 1000px;
    background-color: rgba(255, 255, 255, .15);  
}



#myHeader{
    text-decoration: underline;
    text-align: center;
    color:rgb(255, 102, 0);

}

.line{
    border-top: 4.5px solid rgb(51, 0, 51);
    border-left: 4.5px solid rgb(51, 0, 51);
    height: 100%;
    width: 500px;
    margin-left:150px;
    position: absolute;

 
}



/*.points{
    position: absolute;
    width:10px;
    height:10px;
    background-color: orange;
    border-radius:5px;
    z-index: 0;
    margin: -5px;
}

.points2{
    position: absolute;
    width:10px;
    height:10px;
    background-color: orange;
    border-radius:5px;
    z-index: 0;
    left: 98%;
    top: -1%;
}*/

.projects{
    position: relative;
    left: 10px;
}

.projects p{
    margin-top: -16px;
}




/*Navigation buttons*/
ul.topnav {
    list-style-type: none;
    margin:0;
    padding:0;
    /*overflow: hidden;*/
    background-color: #333;
}

/* Float the list items side by side */
ul.topnav li {float: left;}

/* Style the links inside the list items */
ul.topnav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    margin-left: 9px;
    margin-top: 7px;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 20px;
}
/* Change background color of links on hover */
ul.topnav li a:hover {
    background-color: blue;
}
/* Hide the list item that contains the link that should open and close the topnav on small screens */
ul.topnav li.icon {
    display: none;
}
/*End of the topNav*/

