html{
    scroll-behavior: smooth;
}

body {
    /* Potential text color #DBE8D4 */
	/* background-color: #222733; */
    background-size: cover;
    background-color: rgb(32,32,32);
    
} 

/* --------------Beginning of the header ------------------------------*/

/* This is a div and contains the header*/
#header{
    margin-top: 20px;
    height: 510px;
    display: flex;
    align-items: center;
}

.headerTextbox{
    max-width: 300px;
    max-height: 300px;
    margin-right: 10%;
    margin-left: 25%;
}

.headerImg{
    height: 200px;
    width: 192px;
}

.headerTextbox p{
    color: white;
    font-size: 20px;

}

.headerTextbox h2{
    position: relative;
    color: #F0A500;
    font-size: 20px;
    left: 40%;
}

.headerTextbox strong{
    color: white;
}

.headerTextbox .email{
    color: #f1d69b;
}

/*------------------------End of the header---------------------------------------*/
.quickLinksDiv{
    display: grid;
    grid-template-columns: 70px 70px 70px 70px;
    place-content: center;
}
img#icons{
    position: relative;
    padding: 7px;
    width:40px;
}
img#icons:hover{
    box-shadow: 2px 2px 20px 2px#f1d69b
}
/*------------------------End of the Icons section--------------------------------*/
.headings{
    margin-top: 40px;
    color: aliceblue; 
    text-align: center;
}

.headings hr{
    width: 150px;
    border: 1px solid #f1d69b;
}

.projectsContainer{
    display: grid;
    grid-template-columns: 400px 400px 400px;
    color:whitesmoke;
    margin-left: 10px;

}

.projects{
    margin: 10px;
    background-color: gray;
    transition: 0.5s;
}

.projectsHeading{
    display: flex;
}

.projects:hover{
    transform: scale(1.1);
    border: 1px solid #767fff;
    z-index: 1;


}

.projectTitle{
    margin-right: auto;
}

.projectStart{
    margin-right: 10px;
}

.projectTitle{
    margin-right: 5px;
}