html{
    scroll-behavior: smooth;
}

body {
    background-size: cover;
    background-color: rgb(32, 32, 32);
    
} 

/* Nav Section */
nav{
    position: static;
    top: 0;
    display: flex;
    /* grid-template-columns: 120px 90px 60px 30px 0px; */
    place-content: center;
    text-decoration: none;
    color: inherit;
    width: 100%;
}

nav a{
    color: aliceblue;
    text-decoration: none;
    transition: 0.5s;
    margin-right: 15px;
}

nav a:hover{
    color: rgba(238, 218, 151, 0.7);
}

#hrUnderNav{
    width: 150px;
    border: 1px solid rgba(238, 218, 151, 0.7);
}
/* End of the Nav section */

/* --------------Beginning of the header ------------------------------*/

/* This is a div and contains the header*/
#header{
    margin-top: 20px;
    height: 510px;
    display: flex;
    align-items: center;
}

.headerTextbox{
    max-width: 400px;
    max-height: 400px;
    margin-right: 10%;
    margin-left: 20%;
}

.myName{
    color: #F0A500;
}

.myNickName{
    color: #f1d69b;
    transition: 0.4s;
}

.myNickName:hover{
    font-size: 20px;
    color: #a29bf1;
}

.headerImg{
    height: 400px;
    width: 230px;
    position: relative;
    animation: bounceImg 2s infinite;
    animation-timing-function: linear;
}

@keyframes bounceImg {
    0%{transform:  translate(0px,0px);}
    50%{transform: translate(0px,15px);}
    100%{transform: translate(0px,0px);}
}

.headerTextbox p{
    color: aliceblue;
    font-size: 25px;

}

.headerTextbox h2{
    position: relative;
    color: #a29bf1;
    font-size: 30px;
    left: 40%;
}

.headerTextbox strong{
    color: white;
}

.headerTextbox .email{
    color: #f1d69b;
}

/*------------------------End of the header---------------------------------------*/
.quickLinksDiv{
    margin-top: 10px;
    display: grid;
    grid-template-columns: 90px 90px 90px 90px;
    place-content: center;
}

.quickLinksCaptions{
    position: relative;
    bottom: 25px;
    right: 7%;
    height: 0px;
    display: none;
    color: aliceblue;
    z-index: 6;
    place-content: center;
    text-align: center;
}

.icons:hover .quickLinksCaptions{
    display: block;
    
}

.icons{
    /* background-color: red; */
    height:  85px;
}
.icons img{
    /* position: relative; */
    width:60px;
    padding: 5px;
    transition: 1s;
    border-radius: 10px;
}
.icons img:hover{
    box-shadow: 2px 2px 20px 2px #f1d69b;
}

#replIcon{
    animation: rotateReplIcon 5s infinite;
    animation-timing-function: linear;
    border-radius: 35px;
}

@keyframes rotateReplIcon {
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}

#githubIcon{
    border-radius: 35px;
}

/*------------------------End of the Icons section--------------------------------*/

/* Headings */
.headings{
    margin-top: 40px;
    color: aliceblue; 
    text-align: center;
}

.headings hr{
    width: 150px;
    border: 1px solid rgba(238, 218, 151, 0.7);
}
/* End of the Headings */

/* Projects Section */
.projectsContainer{
    display: grid;
    grid-template-columns: 500px 500px; 
    color:whitesmoke;
    margin-left: 10px;
    justify-content: center;

}

.projects{
    margin: 10px;
    transition: 1s;
    height: 250px;
}

.projects img{
    width: 100%;
    height: 100%;
    z-index: -2;
    position: relative;
}

.projectSkin{
    opacity: 0;
    display: none;
    background-color: #434246;
    position: relative;
    transition: 2s ease;
    z-index: 3;
    bottom: 101.5%;
}

.projectSkin button{
    margin: 5px;
    width: 70px;
    height: 30px;
    border-radius: 5px;
}

.projectSkinDemoBtn{
    background-color: #a29bf1;
}

.projectSkinRepoBtn{
    background-color: #f1d69b;
}

.projectSkin button:hover{
    cursor: pointer;
}


.projectsHeading{
    display: flex;
}

.projects:hover{
    transform: scale(1.1);
    box-shadow: 2px 2px 20px 2px #f1d69b;
    z-index: 1;

}

.projects:hover .projectSkin{
    opacity: 0.8;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    position: absolute;
    top: 0.1%;
}

.innerProjectSkin{
    position:relative;
    top: 30%; 
}

@keyframes spinProjects {
    0%{transform:  rotate(0deg);}
    50%{transform: rotate(180deg);}
    100%{transform: rotateY(360deg);}
}
/* End of the Projects Section */

audio{
    color: #F0A500;
}

/* Skills Section */
.skillsSection{
    display: grid;
    grid-template-columns: 90px 90px 90px;
    place-content: center;
}

.skill img{
    padding: 7px;
    width:60px;
}

@keyframes rotateSkills{
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}

.caption{
    position: relative;
    right: 7%;
    height: 0px;
    display: none;
    color: aliceblue;
    z-index: 6;
    place-content: center;
   
}

.skill:hover .caption{
    display:grid;
}

#reactIcon{
    animation: rotateReactImg 10s infinite;
    animation-timing-function: linear;
}

@keyframes rotateReactImg {
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}
/* End of the skill Section */

/* Art Section */
.artSection{
    display: grid;
    grid-template-columns: 570px 570px; 
    color:whitesmoke;
    margin-left: 10px;
    justify-content: center;
}

.art{
    margin: 10px;
    transition: 1s;
    height: 330px;
    border-radius: 50px;
}

.art img{
    width: 100%;
    height: 100%;
    border-radius: 50px;
}

.art:hover{
    transform: scale(1.03);
    box-shadow: 2px 2px 20px 2px #a29bf1;
    z-index: 1;
}
/* End of the Art Section */

/* Start of the email form section */
.emailFormSection{
    display: grid;
    place-items: center;
    width: auto;
}

#emailForm{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #a29bf14f;
    padding: 15px;
}

#emailForm h1{
    color: aliceblue ;
}

.allEmailInputs{
    display: flex;
}

.nameAndEmailInputs{
    margin-right: 15px;
}

#from_name{
    background-color: #434246;
    border: solid 1px none;
    height: 30px;
    margin-bottom: 15px;
    font-size: larger;
    border-radius: 5px;
    color: #f1d69b;
    padding:3px;
}

#from_name::placeholder{
    color: #f1d69b;
}

#email_id{
    background-color: #434246;
    order: solid 1px none;
    height: 30px;
    font-size: larger;
    border-radius: 5px;
    color: #f1d69b;
    padding:3px;
}

#email_id::placeholder{
    color: #f1d69b;
}

#message{
    background-color: #434246;
    color: #f1d69b;
    height: 140px;
    width: 300px;
    resize: none;
    font-size: larger;
    border-radius: 5px;
    padding: 5px;
}

#message::placeholder{
    color: #f1d69b;
}

#submitMessageBtn{
    background-color: #f1d69b;
    width: 200px;
    height: 40px;
    font: 1em sans-serif;
    color: black;
}
/* End of the email form section */

/* KeyFrame for the scroll to the top button */

@keyframes scrollBounce {
    0%{transform:  translate(0px,0px);}
    50%{transform: translate(0px,15px);}
    100%{transform: translate(0px,0px);}
}

footer{
    text-align: center;
    color: #a29bf1;
}