html{
    scroll-behavior: smooth;
}

body {
	
    background-size: cover;
    background-color: rgb(32,32,32);
   /* animation-name: background;
    animation-duration: 30s;
    animation-iteration-count: infinite;*/
    
}



/*This allows the background to change*/
/*@keyframes background { 
    0% {background-color:#C39BD3;}
    50% {background-color:#F8C471;}
    75% {background-color:#F8C471;}
    100% { background-color:#C39BD3;}
 }*/



/*.test{*/
    /*width: 100%;
    height: 700px;
    background-size: cover;*/
    /*background-image: url('IMG_4779.JPG');*/
   /* animation-name: backpics;
    animation-duration: 22s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;*/

/* }*/

/* @keyframes backpics{
    0% {background-image:url('IMG_4779.JPG')}
    50% {background-image:url('IMG_4784.JPG')}
    75% {background-image:url('Rally.png')}
    100% {background-image:url('IMG_6234.JPG')}
 }*/

#container{
    margin-top: 20px;
    height: 510px;
    background-color: rgb(51, 0, 51);

}

.right{
    background-image: url('IMG_4779.JPG');
    background-repeat: no-repeat;
    width: 50%;
    height:500px;
    float: right;
 }

.left{
    /*background-color: blue;*/
    width: 50%;
    height:500px;
    float: left;
   /* border: -1px solid white;*/
 }

.header{
    padding-top: 20px;
    font-size: 30px;
    font-style: italic;
    color:rgb(255, 102, 0);
    text-align: center;
	text-align: fixed;
} 

#belowHeader p{ /*The paragraph at the top of the page*/
    width: 70%;
    /*background-color: blue;*/
    margin-left: 12%;

}

 .left p { /**/
     color:rgb(255, 102, 0);
     font-size: 32px;
     text-align: center;
 }


 #myHeader2{ /*Project header*/
    text-decoration: underline;
    text-align: center;
    color:rgb(255, 102, 0);

}

.email{
    color:  grey;
}

.music{
    color: grey;
}

/*------------------------End of the header---------------------------------------*/
img#icons{
    position: relative;
    padding: 7px;
    width:25px;
}
img#icons:hover{
    border: 1.5px dashed blue;
}

#inTextIcons{
    display: inline; /* the default for span */
    position: relative;
    top: 12px;
}
/*------------------------End of the Icons section--------------------------------*/

#timeline{
    position: absolute;
    width: 800px;
    height: 1000px;
    background-color: rgba(255, 255, 255, .15);
    left: 10%; 
    border-radius: 10px;

}

#myHeader{

    text-decoration: underline;
    text-align: center;
    color:rgb(255, 102, 0);

}

.line{
    border-top: 4.5px solid rgb(51, 0, 51);
    border-left: 4.5px solid rgb(51, 0, 51);
    height: 100%;
    width: 500px;
    margin-left:150px;
    position: absolute;
    top: 10px;
}

.yearLines{
    border: none;
    width: 100%;
    height: 4px;
    background-color:rgb(51, 0, 51);
}



.point{
    position: absolute;
    width:10px;
    height:10px;
    background-color: orange;
    border-radius:5px;
    z-index: 0;
    left: 98%;
    top: -0.8%;
}

#pointB{ /*The second point on the timeline*/
    position: relative;
    width:10px;
    height:10px;
    background-color: orange;
    border-radius:5px;
    z-index: 3;
    left: 98%;
    top: -16px;


}

.projects{
    position: relative;
    left: 10px;
}

.projects p{
    margin-top: -16px;
}