body {
    background-color: rgb(32, 32, 32);
    color: aliceblue;
} 

nav{
    position: static;
    top: 0;
    display: grid;
    grid-template-columns: 120px 90px 60px 30px;
    place-content: center;
    height: auto;
    text-decoration: none;
    color: inherit;
    width: 100%;
}

nav a{
    color: aliceblue;
    text-decoration: none;
    transition: 0.5s;
}

nav a:hover{
    color: rgba(238, 218, 151, 0.7);
}

.yearTitle{
    width: fit-content;
}

.yearDescription{
    color: #a29bf1;

}

.yearTitle hr{
    width: auto;
    border: 1px solid rgba(238, 218, 151, 0.7);
   
}

.content{
    /* background-color: red; */
    display: grid;
    grid-template-columns: 570px 570px 570px;

}

.imgContainer{
    margin: 5px;
}

.imgContainer img{
    width: 560px;
    border-radius: 10px;
    border: 0.5px solid aliceblue;
    height: 450px;
}